services:
  web:
    build: .
    ports:
      - "5000:5000"
    environment:
      - DB_HOST=db
      - DB_NAME=wedelivery
      - DB_USER=user
      - DB_PASS=password
    depends_on:
      - db

  db:
    image: postgres:13
    environment:
      - POSTGRES_DB=wedelivery
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=password
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
